<!-- Start Contact content -->
<div>
  <div class="p-4">
    <div class="user-chat-nav float-end">
      <div ngbTooltip="Agregar Nueva Red Social">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0" data-toggle="modal"
          data-target="#addContact-exampleModal" (click)="openContactsModal(content)"
          style="text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);">
          <i class="ri-chat-new-fill" style="font-size: 30px;"></i>
        </button>

      </div>
    </div>
    <h4 class="mb-4">Redes Sociales</h4>

    <!-- Start Add contact Modal -->
    <ng-template #content let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-16" id="addContact-exampleModalLabel">Agregar Nueva Red Social</h5>
          <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
          </button>
        </div>
        <div class="modal-body p-4">
          <form [formGroup]="redessocialesForm" (ngSubmit)="validateForm()"> <!--  #socialForm="ngForm" -->
            <div class="mb-3">
              <label class="form-label" for="nombreRedSocial">Nombre Red Social *</label>
              <input 
              formControlName="nombreRedSocial"
              [ngClass]="{'is-invalid': submitted && f.nombreRedSocial.errors }" type="text" 
              class="form-control" [(ngModel)]="newRedSocial.nombre"
              placeholder="Facebook">

              <div *ngIf="submitted && f.nombreRedSocial.errors" class="invalid-feedback">
                  <div *ngIf="f.nombreRedSocial.errors.required">
                    EL campo es requerido!
                  </div>
                  <div *ngIf="f.nombreRedSocial.errors.maxlength">
                    Ingresa un valor con una longitud menor o igual a 20 carácteres!
                  </div>

              </div>
            </div> 
            <div class="mb-3">
              <label class="form-label" for="endpointApi">EndpointApi *</label>
              <input 
              formControlName="endpointApi"
              [ngClass]="{'is-invalid': submitted && f.endpointApi.errors }"
              class="form-control" [(ngModel)]="newRedSocial.endpointapi"
                name="endpointapi" placeholder="https://sicopweb.com">

              <div *ngIf="submitted && f.endpointApi.errors" class="invalid-feedback">
                  <div *ngIf="f.endpointApi.errors.required">
                    EL campo es requerido!
                  </div>
                  <div *ngIf="f.endpointApi.errors.maxlength">
                    Ingresa un valor con una longitud menor o igual a 400 carácteres!
                  </div>
                  <div *ngIf="f.endpointApi.errors?.pattern">
                    EL valor es invalido!
                  </div>
              </div>
            </div>

            
            <div class="mb-3">
              <label class="form-label" for="apiKey">ApiKey *</label>
              <input 
              formControlName="apiKey"
              [ngClass]="{'is-invalid': submitted && f.apiKey.errors }"
              type="text" 
              class="form-control" 
              [(ngModel)]="newRedSocial.apikey" name="apikey"
              placeholder="abcA123ABC-.cdeCDE123">

                <div *ngIf="submitted && f.apiKey.errors" class="invalid-feedback">
                  <div *ngIf="f.apiKey.errors.required">
                    EL campo es requerido!
                  </div>
                  <div *ngIf="f.apiKey.errors.maxlength">
                    Ingresa un valor con una longitud menor o igual a 400 carácteres!
                  </div> 
                  <div *ngIf="f.apiKey.errors?.pattern">
                    EL valor es invalido!
                  </div> 
              </div>
            </div>

            
            <div class="mb-3">
              <label class="form-label" for="secretKey">Secret Key *</label>
              <input 
              formControlName="secretKey"
              [ngClass]="{'is-invalid': submitted && f.secretKey.errors }"
              type="text" 
              class="form-control"
              [(ngModel)]="newRedSocial.secretkey"
                name="secretkey" placeholder="abcA123ABC-.cdeCDE123">

              <div *ngIf="submitted && f.secretKey.errors" class="invalid-feedback">
                  <div *ngIf="f.secretKey.errors.required">
                    EL campo es requerido!
                  </div>
                  <div *ngIf="f.secretKey.errors.maxlength">
                    Ingresa un valor con una longitud menor o igual a 100 carácteres!
                  </div> 
                  <div *ngIf="f.secretKey.errors?.pattern">
                    EL valor es invalido!
                  </div> 
              </div>
            </div>

            
            <div class="mb-3">
              <label class="form-label" for="urlLogotipo">Url Logotipo (opcional)</label>
              <input
              formControlName="urlLogotipo"
              [ngClass]="{'is-invalid': submitted && f.urlLogotipo.errors }"
              type="text" 
              class="form-control"
              [(ngModel)]="newRedSocial.urllogotipo"
              name="urllogotipo" placeholder="https://sicopweb.com">

                <div *ngIf="submitted && f.urlLogotipo.errors" class="invalid-feedback">
                  
                  <div *ngIf="f.urlLogotipo.errors.maxlength">
                    Ingresa un valor con una longitud menor o igual a 100 carácteres!
                  </div> 
                  <div *ngIf="f.urlLogotipo.errors?.pattern">
                    EL valor es invalido!
                  </div> 
              </div>

            </div> 

            <div class="modal-footer">
              <button type="button" class="btn btn-link" (click)="resetForm(); modal.dismiss('Cross click')">Cancelar</button>
              <!-- <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancelar</button> -->
              <button type="submit" class="btn btn-primary" >Agregar</button> <!-- (click)="addNewSocial()" -->
            </div>
          </form>
        </div>
      </div>
    </ng-template>
    <!-- End Add contact Modal -->

    <div class="search-box chat-search-box">
      <div class="input-group bg-light input-group-lg rounded-3">
        <div class="input-group-prepend">
          <button class="btn btn-link text-decoration-none text-muted pr-1" type="button">
            <i class="ri-search-line search-icon font-size-18"></i>
          </button>
        </div>
        <input type="text" class="form-control bg-light"
          placeholder="{{'chat.tabs.contacts.search.placeholder' | translate}}">
      </div>
    </div>
    <!-- End search-box -->
  </div>
  <!-- end p-4 -->

  <!-- start form edit redes sociales -->
  <ng-template #content_edit let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-size-16" id="editContact-exampleModalLabel">Editar Red Social</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
        </button>
      </div>
      <div class="modal-body p-4">
        <form [formGroup]="redessocialesEditForm" (ngSubmit)="validateUpdateForm()"> <!--  #socialForm="ngForm" -->
          <div class="mb-3">
            <label class="form-label" for="nombreRedSocial">Nombre Red Social *</label>
            <input 
            formControlName="nombreRedSocial"
            [ngClass]="{'is-invalid': submitted && fe.nombreRedSocial.errors }" type="text" 
            class="form-control" [(ngModel)]="editRedSocial.nombre"
            placeholder="Facebook">

            <div *ngIf="submitted && fe.nombreRedSocial.errors" class="invalid-feedback">
                <div *ngIf="fe.nombreRedSocial.errors.required">
                  EL campo es requerido!
                </div>
                <div *ngIf="fe.nombreRedSocial.errors.maxlength">
                  Ingresa un valor con una longitud menor o igual a 20 carácteres!
                </div>

            </div>
          </div> 
          <div class="mb-3">
            <label class="form-label" for="endpointApi">EndpointApi *</label>
            <input 
            formControlName="endpointApi"
            [ngClass]="{'is-invalid': submitted && fe.endpointApi.errors }"
            class="form-control" [(ngModel)]="editRedSocial.endpointapi"
              name="endpointapi" placeholder="https://sicopweb.com">

            <div *ngIf="submitted && fe.endpointApi.errors" class="invalid-feedback">
                <div *ngIf="fe.endpointApi.errors.required">
                  EL campo es requerido!
                </div>
                <div *ngIf="fe.endpointApi.errors.maxlength">
                  Ingresa un valor con una longitud menor o igual a 400 carácteres!
                </div>
                <div *ngIf="fe.endpointApi.errors?.pattern">
                  EL valor es invalido!
                </div>
            </div>
          </div>

          
          <div class="mb-3">
            <label class="form-label" for="apiKey">ApiKey *</label>
            <input 
            formControlName="apiKey"
            [ngClass]="{'is-invalid': submitted && fe.apiKey.errors }"
            type="text" 
            class="form-control" 
            [(ngModel)]="editRedSocial.apikey" name="apikey"
            placeholder="abcA123ABC-.cdeCDE123">

              <div *ngIf="submitted && fe.apiKey.errors" class="invalid-feedback">
                <div *ngIf="fe.apiKey.errors.required">
                  EL campo es requerido!
                </div>
                <div *ngIf="fe.apiKey.errors.maxlength">
                  Ingresa un valor con una longitud menor o igual a 400 carácteres!
                </div> 
                <div *ngIf="fe.apiKey.errors?.pattern">
                  EL valor es invalido!
                </div> 
            </div>
          </div>

          
          <div class="mb-3">
            <label class="form-label" for="secretKey">Secret Key *</label>
            <input 
            formControlName="secretKey"
            [ngClass]="{'is-invalid': submitted && fe.secretKey.errors }"
            type="text" 
            class="form-control"
            [(ngModel)]="editRedSocial.secretkey"
              name="secretkey" placeholder="abcA123ABC-.cdeCDE123">

            <div *ngIf="submitted && fe.secretKey.errors" class="invalid-feedback">
                <div *ngIf="fe.secretKey.errors.required">
                  EL campo es requerido!
                </div>
                <div *ngIf="fe.secretKey.errors.maxlength">
                  Ingresa un valor con una longitud menor o igual a 100 carácteres!
                </div> 
                <div *ngIf="fe.secretKey.errors?.pattern">
                  EL valor es invalido!
                </div> 
            </div>
          </div>

          
          <div class="mb-3">
            <label class="form-label" for="urlLogotipo">Url Logotipo (opcional)</label>
            <input
            formControlName="urlLogotipo"
            [ngClass]="{'is-invalid': submitted && fe.urlLogotipo.errors }"
            type="text" 
            class="form-control"
            [(ngModel)]="editRedSocial.urllogotipo"
            name="urllogotipo" placeholder="https://sicopweb.com">

              <div *ngIf="submitted && fe.urlLogotipo.errors" class="invalid-feedback">
                
                <div *ngIf="fe.urlLogotipo.errors.maxlength">
                  Ingresa un valor con una longitud menor o igual a 100 carácteres!
                </div> 
                <div *ngIf="fe.urlLogotipo.errors?.pattern">
                  EL valor es invalido!
                </div> 
            </div>

          </div> 

          <div class="modal-footer">
            <button type="button" class="btn btn-link" (click)="resetForm(); modal.dismiss('Cross click')">Cancelar</button>
            <!-- <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancelar</button> -->
            <button type="submit" class="btn btn-primary">Guardar</button> <!-- (click)="addNewSocial()" -->
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  <!-- (click)="updateRedSocial($event,
            editRedSocial.nombre,
            editRedSocial.endpointapi,
            editRedSocial.apikey,
            editRedSocial.secretkey,
            editRedSocial.urllogotipo)" -->
  <!-- end form edit redes sociales -->

  <!-- Start contact lists -->
  <perfect-scrollbar class="p-4 chat-message-list chat-group-list" data-simplebar>
    <ul class="list-unstyled chat-list group-list">
      <li *ngFor="let redSocial of redesSocialesList">
        <a href="javascript:void(0);">
          <div class="d-flex align-items-center">
            <div class="chat-user-img me-3 ms-0">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                  {{redSocial.nombre.charAt(0)}}
                </span>
              </div>
            </div>
            <div class="flex-grow-1 overflow-hidden">
              <h5 class="text-truncate font-size-14 mb-0">{{redSocial.nombre}}
                <!--
                En el ejemplo que proporcionaste, hay una insignia que muestra el número de mensajes no leídos.
                No estoy seguro de si quieres mantener esta funcionalidad, así que la he comentado.
                Si tienes una propiedad similar para las redes sociales, puedes descomentar la siguiente línea y sustituir 'unread' por la propiedad correcta.
                <span class="badge badge-soft-danger rounded-pill float-end">{{redSocial.unread}}</span>
                -->
              </h5>
            </div>

            <div class="dropdown" ngbDropdown>
              <a href="javascript: void(0);" class="text-muted dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="ri-more-2-fill"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.contacts.list.dropdown.item1' | translate}} <i
                    class="ri-share-line float-end text-muted"></i></a>
                <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.contacts.list.dropdown.item2' | translate}} <i
                    class="ri-forbid-line float-end text-muted"></i></a>
                <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.contacts.list.dropdown.item3' | translate}} <i
                    class="ri-delete-bin-line float-end text-muted"></i></a>
                <a class="dropdown-item" (click)="openRedSocialEditModal(content_edit,
                                                        redSocial.idred,
                                                        redSocial.nombre,
                                                        redSocial.endpointapi,
                                                        redSocial.apikey,
                                                        redSocial.secretkey,
                                                        redSocial.urllogotipo);" href="javascript:void(0);">Editar <i
                      class="ri-edit-2-fill float-end text-muted"></i></a>
              </div>
            </div>

          </div>
        </a>
      </li>
    </ul>
  </perfect-scrollbar>




  <!-- end contact lists -->
</div>
<!-- Start Contact content -->
