<!-- Start Contact content -->
<div>
  <div class="p-4">
    <div class="user-chat-nav float-end">
      <div ngbTooltip="Agregar Nueva Red Social">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0" data-toggle="modal"
          data-target="#addContact-exampleModal" (click)="openContactsModal(content)"
          style="text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);">
          <i class="ri-chat-new-fill" style="font-size: 30px;"></i>
        </button>

      </div>
    </div>
    <h4 class="mb-4">Redes Sociales</h4>

    <!-- Start Add contact Modal -->
    <ng-template #content let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-16" id="addContact-exampleModalLabel">Agregar Nueva Red Social</h5>
          <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
          </button>
        </div>
        <div class="modal-body p-4">
          <form #socialForm="ngForm">
            <div class="mb-3">
              <label class="form-label" for="nombreRedSocial">Nombre Red Social *</label>
              <input type="text" class="form-control" id="nombreRedSocial" [(ngModel)]="newRedSocial.nombre"
                name="nombre" placeholder="Facebook">
            </div>
            <div class="mb-3">
              <label class="form-label" for="endpointApi">EndpointApi *</label>
              <input type="text" class="form-control" id="endpointApi" [(ngModel)]="newRedSocial.endpointapi"
                name="endpointapi" placeholder="https://sicopweb.com">
            </div>
            <div class="mb-3">
              <label class="form-label" for="apiKey">ApiKey *</label>
              <input type="text" class="form-control" id="apiKey" [(ngModel)]="newRedSocial.apikey" name="apikey"
                placeholder="abcA123ABC-.cdeCDE123">
            </div>
            <div class="mb-3">
              <label class="form-label" for="secretKey">Secret Key *</label>
              <input type="text" class="form-control" id="secretKey" [(ngModel)]="newRedSocial.secretkey"
                name="secretkey" placeholder="abcA123ABC-.cdeCDE123">
            </div>
            <div class="mb-3">
              <label class="form-label" for="urlLogotipo">Url Logotipo (opcional)</label>
              <input type="text" class="form-control" id="urlLogotipo" [(ngModel)]="newRedSocial.urllogotipo"
                name="urllogotipo" placeholder="https://sicopweb.com">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" (click)="resetForm(); modal.dismiss('Cross click')">Cancelar</button>
              <!-- <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancelar</button> -->
              <button type="button" class="btn btn-primary" (click)="addNewSocial()">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </ng-template>
    <!-- End Add contact Modal -->

    <div class="search-box chat-search-box">
      <div class="input-group bg-light input-group-lg rounded-3">
        <div class="input-group-prepend">
          <button class="btn btn-link text-decoration-none text-muted pr-1" type="button">
            <i class="ri-search-line search-icon font-size-18"></i>
          </button>
        </div>
        <input type="text" class="form-control bg-light"
          placeholder="{{'chat.tabs.contacts.search.placeholder' | translate}}">
      </div>
    </div>
    <!-- End search-box -->
  </div>
  <!-- end p-4 -->

  <!-- Start contact lists -->
  <perfect-scrollbar class="p-4 chat-message-list chat-group-list" data-simplebar>
    <ul class="list-unstyled chat-list group-list">
      <li *ngFor="let redSocial of redesSocialesList">
        <a href="javascript:void(0);">
          <div class="d-flex align-items-center">
            <div class="chat-user-img me-3 ms-0">
              <div class="avatar-xs">
                <span class="avatar-title rounded-circle bg-soft-primary text-primary">
                  {{redSocial.nombre.charAt(0)}}
                </span>
              </div>
            </div>
            <div class="flex-grow-1 overflow-hidden">
              <h5 class="text-truncate font-size-14 mb-0">{{redSocial.nombre}}
                <!--
                En el ejemplo que proporcionaste, hay una insignia que muestra el número de mensajes no leídos.
                No estoy seguro de si quieres mantener esta funcionalidad, así que la he comentado.
                Si tienes una propiedad similar para las redes sociales, puedes descomentar la siguiente línea y sustituir 'unread' por la propiedad correcta.
                <span class="badge badge-soft-danger rounded-pill float-end">{{redSocial.unread}}</span>
                -->
              </h5>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </perfect-scrollbar>




  <!-- end contact lists -->
</div>
<!-- Start Contact content -->
