<!-- Start profile content -->
<div>
  <div class="px-4 pt-4">
    <div class="user-chat-nav float-end">
      <div class="dropdown" ngbDropdown>
        <a href="javascript: void(0);" class="font-size-18 text-muted dropdown-toggle" ngbDropdownToggle
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ri-more-2-fill"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
          <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.profile.dropdown.edit' | translate}}</a>
          <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.profile.dropdown.action' | translate}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.profile.dropdown.another' | translate}}n</a>
        </div>
      </div>
    </div>
    <h4 class="mb-0">{{'chat.tabs.profile.title' | translate }}</h4>
  </div>

  <div class="text-center p-4 border-bottom">
    <div class="mb-4">
      <img src="{{senderProfile}}" class="rounded-circle avatar-lg img-thumbnail" alt="">
    </div>

    <h5 class="font-size-16 mb-1 text-truncate">{{senderName | translate}}</h5>
    <p class="text-muted text-truncate mb-1"><i
        class="ri-record-circle-fill font-size-10 text-success me-1 d-inline-block"></i>
      {{'chat.tabs.profile.status' | translate}}</p>
  </div>
  <!-- End profile user -->

  <!-- Start user-profile-desc -->
  <perfect-scrollbar class="p-4 user-profile-desc">

    <div class="text-muted">
      <p class="mb-4">Community Manager</p>
    </div>

    <ngb-accordion #acc="ngbAccordion" activeIds="about" [closeOthers]="true">
      <ngb-panel cardClass="card shadow-none border mb-2" id="about">
        <ng-template ngbPanelTitle>
          <h5 class="font-size-14 m-0">
            <i class="ri-user-2-line me-2 align-middle d-inline-block"></i>
            Mis Datos
          </h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <div>
            <p class="text-muted mb-1">Nombre</p>
            <h5 class="font-size-14">{{ senderName}}</h5>
          </div>

          <div class="mt-4">
            <p class="text-muted mb-1">Email</p>
            <h5 class="font-size-14">seekop@seekop.com</h5>
          </div>

          <div class="mt-4">
            <p class="text-muted mb-1">Ubicación</p>
            <h5 class="font-size-14 mb-0">México</h5>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel cardClass="card shadow-none border mb-2" id="file">
        <ng-template ngbPanelTitle>
          <h5 class="font-size-14 m-0">
            <i class="ri-shield-flash-fill me-2 align-middle d-inline-block"></i>
             Distribuidores Asociados
          </h5>
        </ng-template>
        <ng-template ngbPanelContent>
          <div>
            <!-- <p class="text-muted mb-1">Nombre</p> -->
            <h5 class="font-size-14">Nissan Satelite, Kasa Satelite, Toyota Coacalco</h5>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <!-- end profile-user-accordion -->

  </perfect-scrollbar>
  <!-- end user-profile-desc -->
</div>
<!-- End profile content -->
