<div class="main-wrapper">
    <div class="container-fluid main-chat-container">
      <div class="row " *ngIf="mensajes.length > 0">
     
      <!-- Sidebar de conversaciones -->
      <div class="col-md-3">
        <app-side-menu-chat  [mensajes]="mensajes">
        </app-side-menu-chat>
      </div>
  
      <!-- Chat -->
      <div class="col-md-6">
        <app-chat-content  [mensajes]="mensajes" ></app-chat-content>
      </div>
  
      <!-- Publicación relacionada -->
      <div class="col-md-3">
        <app-post-by-chat  [mensajes]="mensajes" ></app-post-by-chat>
      </div>
    </div>
  </div>
</div>
  