<nb-card class="custom-publicacion-card">
  <nb-card-header class="custom-tabs-header">
    <div class="tabs-container">
      <div *ngFor="let tab of tabs" class="tab-icon" [class.active]="selectedTab === tab.key"
        (click)="selectedTab = tab.key">
        <nb-icon [icon]="tab.icon" pack="seekop"></nb-icon>
      </div>
    </div>

    <div class="tab-label">
      {{ selectedTabLabel }}
    </div>
  </nb-card-header>



  <nb-card-body class="custom-publicacion-card-body">
    <ng-container *ngIf="postConversacionKpiData">
      <ng-container [ngSwitch]="selectedTab">
        <app-card-post
          *ngSwitchCase="'origen'"
          [bodyCardPost]="postConversacionKpiData.body">
        </app-card-post>
  
        <app-informacion-personal
          *ngSwitchCase="'informacionPersonal'"
          [bodyCardPost]="postConversacionKpiData.body">
        </app-informacion-personal>
  
        <app-kpi-conversacion
          *ngSwitchCase="'kpiConversacion'"
          [bodyCardPost]="postConversacionKpiData.body">
        </app-kpi-conversacion>
  
        <div *ngSwitchCase="'detalles'">
          <!-- Contenido de Detalles del Prospecto -->
          Aquí van los datos personales del prospecto.
        </div>
      </ng-container>
    </ng-container>
  </nb-card-body>
  
</nb-card>