<nb-card class="custom-publicacion-card">
  <nb-card-header class="custom-tabs-header">
    <div class="tabs-container">
      <div *ngFor="let tab of tabs" class="tab-icon" [class.active]="selectedTab === tab.key"
        (click)="selectedTab = tab.key">
        <nb-icon [icon]="tab.icon" pack="seekop"></nb-icon>
      </div>
    </div>

    <div class="tab-label">
      {{ selectedTabLabel }}
    </div>
  </nb-card-header>



  <nb-card-body class="custom-publicacion-card-body">
    <ng-container [ngSwitch]="selectedTab">
      <div *ngSwitchCase="'origen'">
        <ng-container *ngIf="postConversacionKpiData">
          <app-card-post [bodyCardPost]="postConversacionKpiData.body"></app-card-post>
        </ng-container>
      </div>
      
      <div *ngSwitchCase="'informacionPersonal'">
        <ng-container *ngIf="postConversacionKpiData">
        <app-informacion-personal [bodyCardPost]="postConversacionKpiData.body"></app-informacion-personal>
      </ng-container>
      </div>
      <div *ngSwitchCase="'kpiConversacion'">
        <app-kpi-conversacion ></app-kpi-conversacion>
      </div>
      <div *ngSwitchCase="'detalles'">
        <!-- Contenido de Detalles del Prospecto -->
        Aquí van los datos personales del prospecto.
      </div>
    </ng-container>
  </nb-card-body>
</nb-card>