<!-- Start Contact content -->
<div>
    <div class="p-4">
      <div class="user-chat-nav float-end">
        <div ngbTooltip="Agregar Publicación"> <!--
          <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0" data-toggle="modal"
            data-target="#addPublicaciones-exampleModal" (click)="openPublicacionesModal(content)"
            style="text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);">
            <i class="ri-chat-new-fill" style="font-size: 30px;"></i>
          </button> -->
          
        </div>
      </div>
      <h4 class="mb-4 title">Publicaciones</h4>
      <!--
      <mat-form-field>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->



      <ng-template #content let-modal>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-size-16" id="addPublicaciones-exampleModal">Agregar Nueva Publicación</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
            </button>
          </div>
          <div class="modal-body p-4">
  
            
  
          </div>
        </div>
      </ng-template>
      <!-- End Add contact Modal 
  
      <div class="search-box chat-search-box">
        <div class="input-group bg-light input-group-lg rounded-3">
          <div class="input-group-prepend">
            <button class="btn btn-link text-decoration-none text-muted pr-1" type="button">
              <i class="ri-search-line search-icon font-size-18"></i>
            </button>
          </div>
        </div>
      </div>

    </div>
     end p-4 -->

    
  
    <!-- Start Add contact Modal 
    <ng-template #content_edit let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-16" id="editPublicaciones-exampleModalLabel">Editar Publicación</h5>
          <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
          </button>
        </div>
        <div class="modal-body p-4">

        </div>
      </div>
    </ng-template>
    End Add contact Modal -->
  
  
    <!-- Modal Delete Publicaciones 
    <ng-template #content_eliminar let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font-size-16" id="eliminarPublicaciones-exampleModalLabel">Eliminar Publicación</h5>
          <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
          </button>
        </div>
        <div class="modal-body p-4">
  
          <div class="mb-3">
            <label for="nombreRedSocial_edit">¿Desea eliminar la publicación?</label>
  
          </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancelar</button>
            <button type="button" class="btn btn-primary"
              (click)="deletePublicacion($event,{idPublicacion})">Eliminar</button>
          </div>
  
        </div>
      </div>
    </ng-template>
    Fin modal delete -->
  
  
  
    <!-- Start contact lists 
    <perfect-scrollbar class="p-4 chat-message-list chat-group-list" data-simplebar>
      <ul class="list-unstyled publicaciones-list">
  
        <li>
  
          <div class="d-flex flex-row p-6">
  
            
  
          </div>
        </li>
      </ul>
    </perfect-scrollbar>
     end contact lists -->
    
    
  </div>
  <!-- Start Contact content -->
