
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chatvia-primary: mat.define-palette(mat.$indigo-palette);
$chatvia-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chatvia-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$chatvia-theme: mat.define-light-theme((
  color: (
    primary: $chatvia-primary,
    accent: $chatvia-accent,
    warn: $chatvia-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($chatvia-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

/* body, * {
  font-family: 'Montserrat', sans-serif !important; 
  letter-spacing: 0px;
  font-weight: 300;
} */

i.ri-ball-pen-fill,
i.ri-delete-bin-6-fill{
    font-size: 1.5rem;
}

.text{
    text-align: left;
}

.number{
    text-align: right;
}

.mb-4.title{
    color:rgb(0,42,127);
}
#chat-room, #chat-welcome-section{
  border-color: rgba(231, 234, 236, 0);
  border-style: solid solid none;
  border-width: 2px 0 0;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(39, 45, 59, 0.2);
  border-radius: 20px;
  opacity: 1;
  color: black;
}

.layout-wrapper{
  background: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
