<!-- Start Contact content -->
<div>
    <div class="p-4">
      <div class="user-chat-nav float-end">
        <div ngbTooltip="Agregar Usuario Red Social">

          <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0" data-toggle="modal"
            data-target="#addRedSocialUsuario-exampleModal" (click)="openUsuarioRedSocialModal(content)">
            <i class="ri-chat-new-fill"></i>
          </button>
        </div>
      </div>
      <h4 class="mb-4">Usuarios de redes sociales</h4>

      <ng-template #content let-modal>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-size-16" id="addRedSocialUsuario-exampleModalLabel">Agregar usuario red social prueba gil</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
            </button>
          </div>
          <div class="modal-body p-4">

            <form [formGroup]="redesusuariosForm" (ngSubmit)="validateForm($event)">

              <div class="mb-3">
                <label for="nombreRedSocial">Red social*</label>
                <select
                  [(ngModel)]="newRedesUsuarios.idred"
                  class="form-control"
                  formControlName="nombreRedSocial"
                  [ngClass]="{ 'is-invalid': submitted && f.nombreRedSocial.errors }" required
                  >
                  <option [ngValue]="0" selected>Seleccione...</option>
                  <option *ngFor="let title of redesSelect" [ngValue]="title.idred">{{title.nombre}}</option>
                </select>

                <div *ngIf="submitted && f.nombreRedSocial.errors" class="invalid-feedback">
                  <div *ngIf="f.nombreRedSocial.errors.required">El campo es obligatorio!</div>
                </div> <!--
                <p>Form value: {{newRedesUsuarios.idred | json}}</p> -->
              </div>


              <div class="mb-3">
                <label for="usuario">Usuario autorizado*</label>
                <select
                [(ngModel)]="newRedesUsuarios.idusuario"                
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" 
                formControlName="usuario" required>
                  <option [ngValue]="">Seleccione...</option>
                  <option *ngFor="let listuser of usuariosSelect" [ngValue]="listuser.idusuario">{{listuser.user}}</option>
                  {{newRedesUsuarios.idusuario?.idusuario}}
                </select>

                <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                  <div *ngIf="f.usuario.errors.required">El campo es obligatorio!</div>
                </div>

              </div>
              
              
              <div class="mb-3">
                <label for="noCliente">No. de Cliente/Usuario*</label>
                <input 
                [(ngModel)]="newRedesUsuarios.idcliente" 
                [ngClass]="{ 'is-invalid': submitted && f.noCliente.errors }" 
                formControlName="noCliente" name="nocliente" type="text" class="form-control"
                 required
                 placeholder="">

                 <div *ngIf="submitted && f.noCliente.errors" class="invalid-feedback">
                  <div *ngIf="f.noCliente.errors.required">El campo es obligatorio!</div>
                </div>

              </div>

              
              <div class="mb-3">
                <label for="pagina">Pagina (Nombre)*</label>
                <input [(ngModel)]="newRedesUsuarios.nombrepagina" 
                [ngClass]="{ 'is-invalid': submitted && f.pagina.errors }" 
                formControlName="pagina" name="pagina" type="text" class="form-control"
                required placeholder="">

                <div *ngIf="submitted && f.pagina.errors" class="invalid-feedback">
                  <div *ngIf="f.pagina.errors.required">El campo es obligatorio!</div>
                </div>
              </div>

              
              <div class="mb-3">
                <label for="token">Token*</label>
                <input [(ngModel)]="newRedesUsuarios.token" 
                [ngClass]="{ 'is-invalid': submitted && f.token.errors }" 
                formControlName="token" type="text" class="form-control" required
                 placeholder="">

                 <div *ngIf="submitted && f.token.errors" class="invalid-feedback">
                  <div *ngIf="f.token.errors.required">El campo es obligatorio!</div>
                </div>
              </div>

            
              <div class="mb-3">
                <label for="fechavencimimiento">Fecha vencimiento*</label>
                <input 
                [ngClass]="{ 'is-invalid': submitted && f.fechavencimimiento.errors }" 
                formControlName="fechavencimimiento" 
                type="date" class="form-control" required
                 placeholder="">

                 <div *ngIf="submitted && f.fechavencimimiento.errors" class="invalid-feedback">
                  <div *ngIf="f.fechavencimimiento.errors.required">El campo es obligatorio!</div>
                </div>
              </div> 

              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn_redesusuarios" >Probar conexión</button>
                <button type="button" class="btn btn-primary btn_redesusuarios" (click)="asociarCuenta()" >
                    Asociar cuenta<i class="ri-arrow-left-right-line"></i>
                </button>

                <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancelar</button>
                <button type="submit" class="btn btn-primary" >Agregar</button>
              </div>
            </form>


          </div>
        </div>
      </ng-template>
      <!-- End Add contact Modal -->

      <div class="search-box chat-search-box">
        <div class="input-group bg-light input-group-lg rounded-3">
          <div class="input-group-prepend">
            <button class="btn btn-link text-decoration-none text-muted pr-1" type="button">
              <i class="ri-search-line search-icon font-size-18"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- End search-box -->
    </div>
    <!-- end p-4 -->



        <!-- Start Add contact Modal -->
        <ng-template #content_edit let-modal>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title font-size-16" id="editMetodos-exampleModalLabel">Editar Método</h5>
              <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
              </button>
            </div>
            <div class="modal-body p-4">
              <form #redesusuariosEditForm="ngForm" [formGroup]="redesusuariosEditForm">
                <!--
                <div class="mb-3">
                  <label for="nombreRedSocial_edit">Red social*</label>

                  <select id="nombreRedSocial_edit" name="nombreRedSocial_edit" class="form-control"
                  [(ngModel)]="editMet.idred">
                  <option *ngFor="let option of redesSelect" [value]="option.idred"
                  [selected]="option.idred===editMet.idred">{{option.nombre}}</option>

                      {{editMet.idred?.idred}}
                  </select>

                </div>

                <div class="mb-3">
                  <label for="tipo_metodo_edit">Tipo de método*</label>
                  <select id="tipo_metodo_edit" name="tipo_metodo_edit" class="form-control" [(ngModel)]="editMet.tipometodo">
                      <option value="-1" disabled='' selected>Seleccione...</option>
                      <option value="POST">POST</option>
                      <option value="GET">GET</option>
                      <option value="PUT">PUT</option>
                      <option value="DELETE">DELETE</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="tipoSolicitud_edit">Tipo acción*</label>
                  <select id="tipoSolicitud_edit" name="tipoSolicitud_edit" class="form-control" [(ngModel)]="editMet.idsolicitud">

                      <option *ngFor="let title of tipoSolicitudSelect" [value]="title.tipoaccion">{{title.nombre}}</option>
                      {{editMet.idsolicitud?.idsolicitud}}
                  </select>
                </div>

                <div class="mb-3">
                  <label for="rama_edit">Rama *</label>
                  <input id="rama_edit" name="rama_edit" type="text" class="form-control" placeholder="rama/rama1" [(ngModel)]="editMet.rama">
                </div>


                <div class="mb-3">
                  <label for="resultado_edit">Resultado *</label>
                  <select id="resultado_edit" name="resultado_edit" class="form-control" [(ngModel)]="editMet.resultado">
                      <option value="-1" disabled='' selected=''>Seleccione...</option>
                      <option value="1">Json</option>
                      <option value="2">XML</option>
                  </select>
                </div>


                <div class="mb-3">
                  <label for="etiquetavalor_edit">Etiqueta *</label>
                  <input id="etiquetavalor_edit" name="etiquetavalor_edit" type="text" class="form-control" placeholder="etiqueta prueba" [(ngModel)]="editMet.etiquetavalor">
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancelar</button>
                  <button type="button" class="btn btn-primary" (click)="editMetodo()">Guardar</button>
                </div> -->
              </form>
            </div>
          </div>
        </ng-template>
        <!-- End Add contact Modal -->



    <!-- Start contact lists -->
    <perfect-scrollbar class="p-4 chat-message-list chat-group-list" data-simplebar>


        <ul class="list-unstyled metodos-list">


          <li *ngFor="let item of usuariosRedesSelect">

            <div class="d-flex align-items-center">

              <div class="flex-grow-1">
                <h5 class="font-size-14 m-0">{{item.user | translate}}</h5>
              </div>


              <div class="dropdown" ngbDropdown>
                <a href="javascript: void(0);" class="text-muted dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="ri-more-2-fill"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.contacts.list.dropdown.item1' | translate}} <i
                      class="ri-share-line float-end text-muted"></i></a>
                  <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.contacts.list.dropdown.item2' | translate}} <i
                      class="ri-forbid-line float-end text-muted"></i></a>
                  <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.contacts.list.dropdown.item3' | translate}} <i
                      class="ri-delete-bin-line float-end text-muted"></i></a>
                </div>
              </div>

            </div>
          </li>
        </ul>
        <!--
      </div> -->
      <!-- end contact list A -->

    </perfect-scrollbar>
    <!-- end contact lists -->
  </div>
  <!-- Start Contact content -->
