/* 
.valid-input {
    border-bottom: 3px solid green;
  }
  
  .invalid-input, .invalid-feedback {
    border-bottom: 3px solid red;
  }

  */

  .invalid-feedback {
    border-bottom: 3px solid red;
  }