<!-- Start Contact content -->
<div>
    <div class="p-4">
      <div class="user-chat-nav float-end">
        <div ngbTooltip="Agregar Usuario Red Social">

          <button type="button" class="btn btn-link text-decoration-none text-muted font-size-18 py-0" data-toggle="modal"
            data-target="#addRedSocialUsuario-exampleModal" (click)="openUsuarioRedSocialModal(content)" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);">
            <i class="ri-chat-new-fill" style="font-size: 30px;"></i>
          </button>
        </div>
      </div>
      <h4 class="mb-4">Distribuidores  Redes sociales</h4>

      <ng-template #content let-modal>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-size-16" id="addRedSocialUsuario-exampleModalLabel">Agregar usuario red social</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
            </button>
          </div>
          <div class="modal-body p-4">

            <form [formGroup]="redesusuariosForm" (ngSubmit)="validateForm()">

              <div class="mb-3">
                <label for="nombreRedSocial">Red social*</label>
                <select formControlName="idred" id="idred" (change)="selectRedSocial($event)"
                class="form-select" required>
                  <option [value]="''" selected>Seleccione...</option>
                  <option *ngFor="let title of redesSelect" [value]="title.idred">{{title.nombre}}</option>
                </select>
                <div *ngIf="redesusuariosForm.controls['idred'].invalid && (redesusuariosForm.controls['idred'].dirty || redesusuariosForm.controls['idred'].touched)"
                     class="text-danger">
                  Red social es requerido.
                </div>
              </div>

              <div class="mb-3">
                <label for="usuario">Distribuidor*</label>
                <select formControlName="iddistribuidor" id="iddistribuidor" (change)="changeDistribuidor($event)"
                class="form-select" required>
                  <option [value]="''">Seleccione...</option>
                  <option *ngFor="let listdistribuidores of distribuidoresSelect" [value]="listdistribuidores.iddistribuidor">{{listdistribuidores.nombredistribuidor}}</option>
                </select>
                <div *ngIf="redesusuariosForm.controls['iddistribuidor'].invalid && (redesusuariosForm.controls['iddistribuidor'].dirty || redesusuariosForm.controls['iddistribuidor'].touched)"
                     class="text-danger">
                  Distribuidor es requerido.
                </div>
              </div>



              <!--
              <div class="mb-3">
                <label for="noCliente">No. de Cliente/Usuario*</label>
                <input (keyup)="onKeyUp($event)" formControlName="idcliente" type="text"
                class="form-control" id="idcliente"
                placeholder="Ejemplo: Cliente123" required pattern="[A-Za-z0-9\s]*">
                <div *ngIf="redesusuariosForm.controls['idcliente'].invalid && (redesusuariosForm.controls['idcliente'].dirty || redesusuariosForm.controls['idcliente'].touched)"
                     class="text-danger">
                  No. de Cliente/Usuario es requerido y no debe contener caracteres extraños.
                </div>
              </div>

              <div class="mb-3">
                <label for="pagina">Pagina (Nombre)*</label>
                <input (keyup)="onKeyUp($event)" id="nombrepagina" formControlName="nombrepagina" type="text"
                class="form-control"
                placeholder="Ejemplo: www.mipagina.com" required pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$">
                <div *ngIf="redesusuariosForm.controls['nombrepagina'].invalid && (redesusuariosForm.controls['nombrepagina'].dirty || redesusuariosForm.controls['nombrepagina'].touched)"
                     class="text-danger">
                  Pagina es requerido y debe ser una URL válida.
                </div>
              </div> -->

              <div class="modal-footer">

                <div class="row" id="rowmodalfooter">
                    <div class="col-lg-3">
                      <button type="button" id="testConnectionButton"
                      (click)="testConexion()" class="btn btn-primary btn_redesusuarios"
                      [disabled]="isButtonDisabled">Probar conexión</button>
                      <small id="connectionMessage" class="form-text"></small>
                    </div>
                    <div class="col-lg-9">
                      <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancelar</button>
                      <button type="submit" id="btnGuardarUsuario" class="btn btn-primary" (click)="asociarCuenta()" [disabled]="isButtonSaveDisabled">Agregar</button>
                    </div>
                </div>

              </div>
            </form>



          </div>
        </div>
      </ng-template>
      <!-- End Add contact Modal -->

      <div class="search-box chat-search-box">
        <div class="input-group bg-light input-group-lg rounded-3">
          <div class="input-group-prepend">
            <button class="btn btn-link text-decoration-none text-muted pr-1" type="button">
              <i class="ri-search-line search-icon font-size-18"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- End search-box -->
    </div>
    <!-- end p-4 -->



        <!-- Start Edit contact Modal -->
        <ng-template #content_edit let-modal>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title font-size-16" id="editRedSocialUsuarios-exampleModalLabel">Editar Usuarios Redes Sociales</h5>
              <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
              </button>
            </div>
            <div class="modal-body p-4">
              <form [formGroup]="redesusuariosEditForm" (ngSubmit)="validateFormEdit()"> <!-- #redesusuariosEditForm="ngForm" -->
                   
              <div class="mb-3">
                <label for="nombreRedSocial">Red social*</label>
                <select [(ngModel)]='newRedesUsuariosEdit.idred' formControlName="idred" id="idrededit" (change)="selectRedSocialEdit($event)"
                class="form-select" required>
                  <option [value]="''" selected>Seleccione...</option>
                  <option *ngFor="let title of redesSelect" [value]="title.idred">{{title.nombre}}</option>
                </select>
                <div *ngIf="redesusuariosEditForm.controls['idred'].invalid && (redesusuariosEditForm.controls['idred'].dirty || redesusuariosEditForm.controls['idred'].touched)"
                     class="text-danger">
                  Red social es requerido.
                </div>
              </div>
              
              <div class="mb-3">
                <label for="usuario">Distribuidor*</label>
                <select [(ngModel)]='newRedesUsuariosEdit.iddistribuidor' formControlName="iddistribuidor" id="iddistribuidoredit" (change)="changeDistribuidorEdit($event)"
                class="form-select" required>
                  <option [value]="''">Seleccione...</option>
                  <option *ngFor="let listdistribuidores of distribuidoresSelect" [value]="listdistribuidores.iddistribuidor">{{listdistribuidores.nombredistribuidor}}</option>
                </select>
                <div *ngIf="redesusuariosEditForm.controls['iddistribuidor'].invalid && (redesusuariosEditForm.controls['iddistribuidor'].dirty || redesusuariosEditForm.controls['iddistribuidor'].touched)"
                     class="text-danger">
                  Distribuidor es requerido.
                </div>
              </div>


              
              <!-- value="usuario.idcliente" [(ngValue)]="usuario.idcliente" newRedesUsuariosEdit.idcliente -->
              <div class="mb-3">
                <label for="noCliente">No. de Cliente/Usuario*</label>
                <input type="text" readonly formControlName="idcliente"
                class="form-control" id="idclienteedit">
                <!--
                <input (keyup)="onKeyUpEdit($event)" formControlName="idcliente" type="text"
                class="form-control" id="idclienteedit"
                placeholder="Ejemplo: Cliente123" required pattern="[A-Za-z0-9\s]*">
                <div *ngIf="redesusuariosEditForm.controls['idcliente'].invalid && (redesusuariosEditForm.controls['idcliente'].dirty || redesusuariosEditForm.controls['idcliente'].touched)"
                     class="text-danger">
                  No. de Cliente/Usuario es requerido y no debe contener caracteres extraños.
                </div> -->
              </div>

              <div class="mb-3">
                <label for="pagina">Pagina (Nombre)</label>
                <input id="nombrepaginaedit" formControlName="nombrepagina" readonly type="text" class="form-control">
                
                <!--
                <input (keyup)="onKeyUpEdit($event)" id="nombrepaginaedit" formControlName="nombrepagina" type="text"
                class="form-control"
                placeholder="Ejemplo: www.mipagina.com" required pattern="^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$">
                
                <div *ngIf="redesusuariosEditForm.controls['nombrepagina'].invalid && (redesusuariosEditForm.controls['nombrepagina'].dirty || redesusuariosEditForm.controls['nombrepagina'].touched)"
                     class="text-danger">
                  Pagina es requerido y debe ser una URL válida.
                </div> -->
              </div> 

              <div class="modal-footer">
                
                <div class="row" id="rowmodalfooter_edit">
                    <div class="col-lg-3">
                      <button type="button" id="testConnectionButtonEdit"
                      (click)="testConexionEdit()" class="btn btn-primary btn_redesusuarios"
                      [disabled]="isButtonDisabledEdit">Probar conexión</button>
                      <small id="connectionMessageEdit" class="form-text"></small>
                      
                    </div>
                    <div class="col-lg-9">
                      <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancelar</button>
                      <button type="submit" id="btnEditarUsuario" class="btn btn-primary" (click)="asociarCuenta_EditarUsuario()" [disabled]="isButtonSaveDisabledEdit">Guardar</button>
                    </div>
                </div> 

              </div>
                <!--
                <div class="mb-3">
                  <label for="nombreRedSocial_edit">Red social*</label>

                  <select id="nombreRedSocial_edit" name="nombreRedSocial_edit" class="form-control"
                  [(ngModel)]="editMet.idred">
                  <option *ngFor="let option of redesSelect" [value]="option.idred"
                  [selected]="option.idred===editMet.idred">{{option.nombre}}</option>

                      {{editMet.idred?.idred}}
                  </select>

                </div>

                <div class="mb-3">
                  <label for="tipo_metodo_edit">Tipo de método*</label>
                  <select id="tipo_metodo_edit" name="tipo_metodo_edit" class="form-control" [(ngModel)]="editMet.tipometodo">
                      <option value="-1" disabled='' selected>Seleccione...</option>
                      <option value="POST">POST</option>
                      <option value="GET">GET</option>
                      <option value="PUT">PUT</option>
                      <option value="DELETE">DELETE</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="tipoSolicitud_edit">Tipo acción*</label>
                  <select id="tipoSolicitud_edit" name="tipoSolicitud_edit" class="form-control" [(ngModel)]="editMet.idsolicitud">

                      <option *ngFor="let title of tipoSolicitudSelect" [value]="title.tipoaccion">{{title.nombre}}</option>
                      {{editMet.idsolicitud?.idsolicitud}}
                  </select>
                </div>

                <div class="mb-3">
                  <label for="rama_edit">Rama *</label>
                  <input id="rama_edit" name="rama_edit" type="text" class="form-control" placeholder="rama/rama1" [(ngModel)]="editMet.rama">
                </div>


                <div class="mb-3">
                  <label for="resultado_edit">Resultado *</label>
                  <select id="resultado_edit" name="resultado_edit" class="form-control" [(ngModel)]="editMet.resultado">
                      <option value="-1" disabled='' selected=''>Seleccione...</option>
                      <option value="1">Json</option>
                      <option value="2">XML</option>
                  </select>
                </div>


                <div class="mb-3">
                  <label for="etiquetavalor_edit">Etiqueta *</label>
                  <input id="etiquetavalor_edit" name="etiquetavalor_edit" type="text" class="form-control" placeholder="etiqueta prueba" [(ngModel)]="editMet.etiquetavalor">
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancelar</button>
                  <button type="button" class="btn btn-primary" (click)="editMetodo()">Guardar</button>
                </div> -->
              </form>
            </div>
          </div>
        </ng-template>
        <!-- End Add contact Modal -->

        <!-- Modal Delete Metodos-->
        <ng-template #content_eliminar let-modal>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title font-size-16" id="eliminarUsuarioRedSocial-exampleModalLabel">Eliminar Método</h5>
              <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')">
              </button>
            </div>
            <div class="modal-body p-4">

                <div class="mb-3">
                  <label for="nombreRedSocial_edit">Desea eliminar el usuario?</label>

                </div>

                <div class="modal-footer" >
                  <button type="button" class="btn btn-link" (click)="modal.dismiss('Cross click')">Cancelar</button>
                  <button type="button" class="btn btn-primary" (click)="deleteUsuarioRedSocial($event,{idredusuario})">Eliminar</button>
                </div>

            </div>
          </div>
        </ng-template>
        <!-- Fin modal delete -->


    <!-- Start contact lists -->
    <perfect-scrollbar class="p-4 chat-message-list chat-group-list" data-simplebar>
      <div *ngFor="let grupo of usuariosRedesSelect">
        <div class="p-3 font-weight-bold text-primary">
          <i class="ri-hand-coin-fill"></i>&nbsp;&nbsp;{{grupo.key}}
        </div>
        <ul class="list-unstyled contact-list">
          <li *ngFor="let usuario of grupo.usuarios">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">
                <h5 class="font-size-14 m-0">{{usuario.nombredistribuidor}} </h5>
              </div>


              <div class="dropdown" ngbDropdown>
                <a href="javascript: void(0);" class="text-muted dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="ri-more-2-fill"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                  <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.contacts.list.dropdown.item1' | translate}} <i
                      class="ri-share-line float-end text-muted"></i></a>
                  <a class="dropdown-item" href="javascript:void(0);">{{'chat.tabs.contacts.list.dropdown.item2' | translate}} <i
                      class="ri-forbid-line float-end text-muted"></i></a> 
                  <a class="dropdown-item" (click)="openRedSocialUsuariosDeleteModal(content_eliminar,usuario.idredusuario)" href="javascript:void(0);">{{'chat.tabs.contacts.list.dropdown.item3' | translate}} <i
                      class="ri-delete-bin-line float-end text-muted"></i></a> 
                  <a class="dropdown-item" (click)="openRedSocialUsuariosEditModal(content_edit,
                      usuario.idred, 
                      usuario.nombre,
                      usuario.idredusuario,
                      usuario.idcliente,
                      usuario.nombrepagina,
                      usuario.iddistribuidor);" href="javascript:void(0);">Editar <i
                          class="ri-edit-2-fill float-end text-muted"></i></a>  
                </div>
              </div>

            </div>
          </li>
        </ul>
        <!--
      </div> -->
      <!-- end contact list A -->
    </div>
  </perfect-scrollbar>
    <!-- end contact lists -->
  </div>
  <!-- Start Contact content -->
